{
    "openapi": "3.0.3",
    "info": {
        "title": "TKS Rest Api Docs",
        "description": "TKS Rest Api Docs",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://sistem.amanatkilatsemesta.com/api/"
        }
    ],
    "paths": {
        "/track/{awb}": {
            "get": {
                "summary": "Get track",
                "description": "Get track data",
                "tags": [
                    "Track"
                ],
                "parameters": [
                    {
                        "name": "awb",
                        "in": "path",
                        "description": "No resi",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": {
                            "awb": "AWB-NML2ZKN"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Track",
                        "content": {
                            "application/json": {
                                "schema": {

                                },
                                "example": {
                                    "status": "200",
                                    "message": "Data found",
                                    "track": {
                                        "id": 26,
                                        "awb": "AWB-NML2ZKN",
                                        "sender": "8",
                                        "from": "3171",
                                        "recipient": "Jasa Raharja Putera Cabang Bandar Lampung",
                                        "phone": "(0721)-8014081",
                                        "address": "Jl. Diponegoro No.59 B-C, Sumur Batu",
                                        "city": "1871",
                                        "province": "Bandar Lampung",
                                        "postalcode": "35212",
                                        "delivery_date": "2023-08-14",
                                        "goods_name": "Barang berupa material teknik.",
                                        "goods_type": 4,
                                        "weight": "53",
                                        "unit": "Kg",
                                        "services_type": 6,
                                        "price": 35000,
                                        "other_costs": 0,
                                        "other_costs_notes": null,
                                        "total": 1855000,
                                        "status": "delivered",
                                        "receipt_date": "2023-10-11",
                                        "notes": null,
                                        "created_at": "2023-08-14T13:48:21.000000Z",
                                        "updated_at": "2023-10-14T02:30:46.000000Z",
                                        "kota_asal": {
                                            "id": 3171,
                                            "name": "KOTA JAKARTA SELATAN"
                                        },
                                        "shipping_trackers": [
                                            {
                                                "id": 26,
                                                "shipping_id": 40,
                                                "date": "2023-08-28",
                                                "time": "12:45",
                                                "status": "Delivered",
                                                "notes": "Barang sudah diterima di Cabang JP Mataram",
                                                "file": null,
                                                "created_at": "2023-08-24T13:46:53.000000Z",
                                                "updated_at": "2023-08-28T13:10:42.000000Z",
                                                "file_url": null
                                            }
                                        ]
                                    },
                                    "data": [
                                        {
                                            "id": 16,
                                            "shipping_id": 26,
                                            "date": "2023-08-15",
                                            "time": "00:00",
                                            "status": "Delivered",
                                            "notes": "Barang sudah diterima oleh Ibu Arum di cabang Jasa Raharja Putera cabang Bandar Lampung",
                                            "file": "shipping_trackers/3UImiZ7NImYpNbZG0IrRBPS7ME8JyO-metaZXJkLWFic2Vuc2ktZmluYWwucG5n-.png",
                                            "created_at": "2023-08-14T13:49:25.000000Z",
                                            "updated_at": "2023-10-12T06:01:01.000000Z",
                                            "file_url": "http://127.0.0.1:8000/storage/shipping_trackers/3UImiZ7NImYpNbZG0IrRBPS7ME8JyO-metaZXJkLWFic2Vuc2ktZmluYWwucG5n-.png"
                                        },
                                        {
                                            "id": 34,
                                            "shipping_id": 26,
                                            "date": "2023-08-14",
                                            "time": "19:00",
                                            "status": "Transit",
                                            "notes": "Transit di Kota A",
                                            "file": null,
                                            "created_at": "2023-10-10T21:38:32.000000Z",
                                            "updated_at": "2023-10-10T21:38:32.000000Z",
                                            "file_url": null
                                        },
                                        {
                                            "id": 35,
                                            "shipping_id": 26,
                                            "date": "2023-08-14",
                                            "time": "21:00",
                                            "status": "Transit",
                                            "notes": "Transit di Kota B, dibawa truck Nopol H 13131 IG",
                                            "file": null,
                                            "created_at": "2023-10-10T21:39:08.000000Z",
                                            "updated_at": "2023-10-10T21:39:08.000000Z",
                                            "file_url": null
                                        },
                                        {
                                            "id": 36,
                                            "shipping_id": 26,
                                            "date": "2023-08-14",
                                            "time": "22:00",
                                            "status": "Transit",
                                            "notes": "Menuju Pengiriman",
                                            "file": null,
                                            "created_at": "2023-10-10T21:39:34.000000Z",
                                            "updated_at": "2023-10-10T21:39:34.000000Z",
                                            "file_url": null
                                        },
                                        {
                                            "id": 37,
                                            "shipping_id": 26,
                                            "date": "2023-08-15",
                                            "time": "01:00",
                                            "status": "Delivery",
                                            "notes": "Sedang dikirim oleh Mas Haryo",
                                            "file": null,
                                            "created_at": "2023-10-10T21:40:22.000000Z",
                                            "updated_at": "2023-10-10T21:41:10.000000Z",
                                            "file_url": null
                                        },
                                        {
                                            "id": 41,
                                            "shipping_id": 26,
                                            "date": "2023-10-11",
                                            "time": "02:00",
                                            "status": "Delivered",
                                            "notes": "Penerima Menolak Paket",
                                            "file": null,
                                            "created_at": "2023-10-11T09:05:08.000000Z",
                                            "updated_at": "2023-10-11T09:05:08.000000Z",
                                            "file_url": null
                                        }
                                    ],
                                    "last": "Delivered"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "example": {
                                    "status": "404",
                                    "message": "Data not found"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/rate": {
            "get": {
                "summary": "Get city data",
                "description": "Get city data for rate price",
                "tags": [
                    "Rate"
                ],
                "parameters": [

                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "example": {
                                    "status": "200",
                                    "message": "Data found",
                                    "from": [
                                        {
                                            "id": 3171,
                                            "name": "KOTA JAKARTA SELATAN"
                                        }
                                    ],
                                    "to": [
                                        {
                                            "id": 7371,
                                            "name": "KOTA MAKASSAR"
                                        },
                                        {
                                            "id": 1871,
                                            "name": "KOTA BANDAR LAMPUNG"
                                        },
                                        {
                                            "id": 5171,
                                            "name": "KOTA DENPASAR"
                                        },
                                        {
                                            "id": 1275,
                                            "name": "KOTA MEDAN"
                                        },
                                        {
                                            "id": 3374,
                                            "name": "KOTA SEMARANG"
                                        },
                                        {
                                            "id": 5271,
                                            "name": "KOTA MATARAM"
                                        },
                                        {
                                            "id": 3471,
                                            "name": "KOTA YOGYAKARTA"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "example": {
                                    "status": "404",
                                    "message": "Data not found"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/rate/{from}/{to}": {
            "get": {
                "summary": "Get rate price",
                "description": "Get rate price from city to city",
                "tags": [
                    "Rate"
                ],
                "parameters": [
                    {
                        "name": "from",
                        "in": "path",
                        "description": "City ID from",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "example": 3171
                    },
                    {
                        "name": "to",
                        "in": "path",
                        "description": "City ID to",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "example": 7371
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "example": {
                                    "status": "200",
                                    "message": "Data found",
                                    "rate": [
                                        {
                                            "id": 27,
                                            "from": "3171",
                                            "to": "7371",
                                            "service_id": 6,
                                            "price": 80000,
                                            "estimate": "1-2 Hari",
                                            "created_at": "2023-08-14T11:06:14.000000Z",
                                            "updated_at": "2023-08-14T11:06:14.000000Z",
                                            "services_type": {
                                                "id": 6,
                                                "name": "AKS-EXPRESS",
                                                "description": "Layanan pengiriman barang yang dilakukan dengan pengiriman yang lebih cepat.",
                                                "status": 1,
                                                "created_at": "2023-08-14T10:02:58.000000Z",
                                                "updated_at": "2023-08-14T10:02:58.000000Z"
                                            }
                                        }
                                    ],
                                    "asal": "KOTA JAKARTA SELATAN",
                                    "tujuan": "KOTA MAKASSAR"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "example": {
                                    "status": "404",
                                    "message": "Data not found"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/location": {
            "get": {
                "summary": "Get Delivery Express Location",
                "description": "Get Delivery Express Location",
                "tags": [
                    "Location"
                ],
                "parameters": [

                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "example": {
                                    "status": "200",
                                    "message": "Data found",
                                    "data": [
                                        {
                                            "id": 4,
                                            "no": 1,
                                            "city": "Jakarta Timur",
                                            "address": "Jln. Taruna Jaya No.95, Cibubur, Ciracas, Jakarta Timur",
                                            "status": 1,
                                            "created_at": "2023-08-11T12:04:45.000000Z",
                                            "updated_at": "2023-08-11T12:04:45.000000Z"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "example": {
                                    "status": "404",
                                    "message": "Data not found"
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
